api:
  dashboard: true
  insecure: true


log:
  level: DEBUG
  format: json

accessLog:
  format: json
  filePath: /var/log/traefik/access.log

middlewares:
  retry:
    retry:
      attempts: 3
      initialInterval: "500ms"

providers:
  docker:
    endpoint: "unix:///var/run/docker.sock"
    watch: true
    exposedByDefault: false
    network: nextgen_local_nw


entryPoints:
  web:
    address: ":80"